:root {
    --main-font-family: 'Poiret One', sans-serif;
    --linear-gradient:linear-gradient(45deg, purple, pink,blue);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
h1,h2 {
    background: -webkit-linear-gradient(50.1deg,rgba(2,2,124), #ae67fa, #f49867);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
ul {
    list-style-type: none;
}
/* navbar ---------------------------- */
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 50px;
    background: var(--linear-gradient);   
}

.nav-item {
    display: inline-block;
    padding-top: 7px;
    padding-right: 10px;  
}

.nav-link {
    font-family: var(--main-font-family);
    color: white;
    font-size: 23px;
    padding-left: 5px; 
}
.nav-link:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: inset 10px 10px 35px rgba(232, 102, 236, 1), 0 0 20px 
    rgba(232, 102, 236, 1);
}
/* main  */
main {
    background-color: black;
}
.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
   
   
}
/* header is hi i'm judith */
h1{
    font-family:'Philosopher', sans-serif;
    font-size: 70px;  
}

.quote{ 
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 640px;
    padding: 5px; 
    /* border: 2px dotted green; */
 
}
h2,.name-quote,.quote {
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    line-height: 1.3;
    text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(50.1deg,rgba(2,2,124), #ae67fa, #f49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.bio-image {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 120px;
    box-shadow: 0px 0px 15px rgb(221, 97, 243); 
}
.profile-image-box{
    padding-top: 25px;
}


/* About me-------------------------------- */
.about-me p {
    font-family: var(--main-font-family);
    font-size: 45px;
    color: white;
    background: -webkit-linear-gradient(50.1deg,rgba(2,2,124), #ae67fa, #f49867);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    
}

section {
    background-color: rgb(72, 2, 72);
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    border: 2px solid rgb(128, 18, 18);   
}

.about-me-title {
    display: column;
    font-size: 50px;
    color: white;
    order: -1;
    flex: 0 1 250px;
    border: 2px solid white;
 
}
.about-me li {
    display: flex;
    color: white;
    font-family: var(--main-font-family);
    background: -webkit-linear-gradient(50.1deg,rgba(2,2,124), #ae67fa, #f49867);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-size: 35px;
    border: 2px solid white;  
}

.about-me{
    border: 2px solid blue;
    display: flex;
}
/* Projects  */

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    gap: 15px;
    border: 3px solid green;
    padding: 0 20px;
}
.flex-item {
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px dashed white; 
    padding: 2px;
    width: 32px;
    justify-content: center;
    margin: auto; 
    font-size: 40px;
}

.project-one-two-box {
    flex: 1 0 480px;
    height: 370px;
    background-color: orange;
 
}

.project-3-5-box{
    flex: 1 0 300px;
    height: 300px;
    background-color: red;
}

.image {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
    margin: auto;
    white-space: normal;
    overflow: hidden;
}

.horiseon, .snippet {
    height:350px;
    width: 545px;
}

.landing-page, .coming-soon {
    height:290px;
    width: 340px;
}




/* .image-project-1-2 {
    display: flex;
    height: 300px; 
    width: 480px;
    flex-shrink: 1;
} */


IMPORTANT 
/* screen sizes--------------------------------- */
/* Tablets */
@media screen and (max-width:992px){
    .about-me {
        padding: 0 20px;
    } 
     /* projects */

    .flex-item {
        width: 300px;
    }
     .projects-container {
        gap: 1px;     
    }
    .project-one-two-box {
        display: flex;
        flex: 0 0 200px;
        height: 122px;  
        /* height: 150px;
        width: 200px; */
        /* height: 100px;
        width: 300px; */
    }

    .project-3-5-box {
        display: flex;
        flex: 0 0 100px;
        height: 120px; 
        /* height: 150px;
        width: 300px; */
    }

    /* project-images */
    .horiseon, .snippet, .landing-page, .coming-soon {
        height: 115px;
        width: 300px; 
    }
    
}

/* large smarthphones -pad mini*/
@media screen and (max-width:768px){
  
}

/* small smarthphones */
@media screen and (max-width:576px){
    nav {
        width: 100%;
        height: 40px;
        padding-left: 20px;     
    }
    .container {
        width: 100%;
    } 
    .name-quote{
        font-size: 30px;
    }
    .bio-image{
       width: 150px;
       height: 150px;

    }
    .quote{ 
        padding: 10px;   
    }
    .header {
        font-size: 50px;
    }
    /* about me -----------------------*/
    .about-me p{
        font-size: 28px;
        line-height: 1.2;
    }
    .about-me li {
        font-size: 23px;
    }
    section {
        background-color: rgb(72, 2, 72);
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
        height: 100vh;
        border: 2px solid rgb(128, 18, 18);   
    }
    /* projects -----------------------*/
    /* .projects-container {
        gap: 1px;     
    } */
    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        height: 100vh;
        background-color: pink;
        gap: 5px;
        border: 3px solid green;
        padding: 0 15px;
    }
    .project-one-two-box {
        display: flex;
        flex: 1 0 250px;
      
        /* flex: 1 0 200px; */
        height: 122px;  
        /* height: 150px;
        width: 200px; */
        /* height: 100px;
        width: 300px; */
    }

    .project-3-5-box {
        display: flex;
        flex: 1 0 150px;
        /* flex: 1 0 200px; */
        height: 120px; 
       
        /* height: 150px;
        width: 300px; */
    }

    /* project-images */
    .horiseon, .snippet, .landing-page, .coming-soon {
        height: 115px;
        width: 300px; 
    }
 
}